<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin tức</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/news.css">
</head>
<body>
    <!-- preview -->
    <!-- Thực hành xây dựng trang web bằng html css thuần
        + Áp dụng áp dụng 1 số thư viện phục vụ Css: 
        - icon <font awsome>
        - slide <slick/carousel>
        + luyện tập cách chia và bố cục
    -->
    <header class="header">
        <nav class="menu d-flex justify-between">
            <div class="menu-left w-15">
                <img class="w-100" src="../imgs/acatea-green.svg" alt="logo">
            </div>
            <div class="menu-right w-40">
                <div class="icon-mobile d-desktop-none d-mb-block">
                    <span><i class="fa-solid fa-bars"></i></span>
                </div>
                <ul class="list-item d-flex justify-between d-desktop-block d-mb-none">
                    <li class="item">
                        <a href="#" class="item-link">Trang chủ</a>
                    </li>
                    <li class="item">
                        <a href="#" class="item-link">Giới thiệu</a>
                    </li>
                    <li class="item">
                        <a href="#" class="item-link">Sản phẩm</a>
                    </li>
                    <li class="item active">
                        <a href="#" class="item-link">Tin tức</a>
                    </li>
                    <li class="item">
                        <a href="#" class="item-link">Liên hệ</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="news-page">
        <div class="news-page-title">
            <h2 class="text-center">TIN TỨC</h2>
        </div>
        <div class="new-page-conten">
            <div class="row list-news d-flex justify-between">
                <div class="news-item">
                    <div class="news-img">
                        <img class="w-100" src="../imgs/14_ Am tra 1 coc.png" alt="img">
                    </div>
                    <div class="new-conten">
                        <h3 class="new-title">
                            Cách sử dụng trà thảo dược mang lại hiệu quả tốt cho sức khỏe
                        </h3>
                        <p class="news-content">
                            Trà thảo dược được coi là một loại thực phẩm chức năng có tác dụng tốt cho sức khỏe. Tuy nhiên, để có...
                        </p>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img class="w-100" src="../imgs/15_ Coc tra 1(1).png" alt="img">
                    </div>
                    <div class="new-conten">
                        <h3 class="new-title">
                            Trà thảo dược Acatea
                        </h3>
                        <p class="news-content">
                            Khát vọng nâng cao sức khỏe người Việt từ việc uống những tách trà dược liệu hàng ngày với hương vị tự nhiên vốn...
                        </p>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img class="w-100" src="../imgs/16_ Am tra 3 coc.png" alt="img">
                    </div>
                    <div class="new-conten">
                        <h3 class="new-title">
                            Văn hóa uống trà của người Việt
                        </h3>
                        <p class="news-content">
                            Văn hóa uống trà của người Việt là một phần không thể thiếu trong đời sống và văn hoá Việt Nam. Nó không chỉ...
                        </p>
                    </div>
                </div>
            </div>            
        </div>
        <div class="new-page-number">

        </div>
    </section>

    <footer>

    </footer>
</body>
</html>