<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu đầu tiên</title>
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
    <header  class="header">
        <nav class="nav-menu">
            <ul class="list-level-1 d-flex bg-color-red bg-max-500">
                <li class="item-level-1  ">
                    <a href="#" class="item color-white">Trang chủ</a>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">Các khoá đào tạo</a>
                    <div class="menu-level-2">
                        <ul class="list-level-2">
                            <li class="item-level-2">
                                <a href="#" class="item color-white">HTML5</a>
                            </li>
                            <li class="item-level-2">
                                <a href="#" class="item color-white">CSS</a>
                            </li>
                            <li class="item-level-2">
                                <a href="#" class="item color-white">PHP</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">Dịch vụ</a>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">Liên hệ</a>
                </li>
                <li class="item-level-1">
                    <a href="#" class="item color-white">Tin tức</a>
                </li>
            </ul>
        </nav>
    </header>

    <section>
        
    </section>

    <footer>

    </footer>
</body>
</html>