<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Function and DOM</title>
</head>
<body>
    <div>
        <label for="userName">User Name:</label>
        <input type="text"  id="userName">
    </div>
    <div>
        <label for="password">password</label>
        <input type="password" name="" id="password">
    </div>
    <div>
        <input onclick=" preCheck()" type="button" name="" id="login" value="Login">
    </div>
    <script src="../js/home.js"></script>
</body>
</html>