*{
    margin: 0;
    padding: 0;
    list-style: none;
    color: #000;
    text-decoration: none;
}
html{
    font-size: 20px; 
}

.d-flex{
    display: flex !important;
    flex-wrap: wrap;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-left{
    justify-content: left;
}
.w-10{
    width: 10%;
}
.w-15{
    width: 15%;
}
.w-20{
    width: 20%;
}
.w-25{
    width: 25%;
}
.w-50{
    width: 50%;
}
.w-40{
    width: 40%;
}
.w-30{
    width: 30%;
}
.w-100{
    width: 100%;
}
.menu{
    width: 75%;
    margin: auto;
    align-items: center;
}
.text-center{
    text-align: center;
}

.item-link{
    text-transform: uppercase;
    font-size: 1rem;
}
.list-item .item{    
    padding: 1.2rem 0.8rem;
    position: relative;
} 
.list-item .item:hover:after{
    content: '';
    position: absolute;
    height: 0.25rem;
    width: 3.6rem;
    background-color: green;    
    border-radius: 5px;   
    left: 0.5rem;
    bottom: 0.4rem; 
} 
/* .list-item .item.active::after {
    content: '';
    position: absolute;
    height: 0.25rem;
    width: 4.2rem;
    background-color: green;    
    border-radius: 5px;   
    left: 0.5rem;
    bottom: 0.4rem;  
    display: block;
}  */

.header{
    position: relative;
    
}
nav.menu{
    position: fixed;
    width: 75%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);    
    background-color: #fff;
}

.d-desktop-none{
    display: none;
}

/* .d-desktop-block{
    display: block;
} */

@media only screen and (max-width: 600px) {
    .d-mb-block{
        display: block;
    }
    .d-mb-none{
        display: none !important;
    }
    .menu-left{
        width: 30%;
    }
    .menu-right{
        width: 15%;
    }
}
