<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaScript basic</title>
</head>
<body>
    <header>
        <h1>JavaScript cho người mơi bắt đầu</h1>
    </header>

    <section>
        <p onclick="alert('hello')">click</p>            
        <pre>
            1. Khái niệm và mục đich
            2. Cách sử dụng
                -C1: sử dụng trực tiếp trêm element
                -C2: Sử dụng trực tiếp trên trang html
                    với nội dung được bao bọc bởi thẻ script
                -C3: Import file có phần mở rộng .js vào file
                    html dùng thẻ script với thuộc tính đường dẫn là src
        </pre>
    </section>

    <footer>

    </footer>


    <!-- <script>
        alert('hello')
    </script> -->
    <script src="../js/home.js" language ="Javascript"></script>
</body>
</html>