<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
</head>
<body>
    <header>
        Review CSS
    </header>
    <section>
       <pre>
            I. CSS
            1. Định nghĩa
            2. Cách sử dụng(3 cách)
            3. Độ ưu tiên trong CSS: dựa theo các selector và !important
            4. Responsive (media max/min-width/height)
            5. Animation (keyframe from-to)
            6. Phân chia các dạng CSS   
                - text: font color text ....
                - bố cục: display, position. background....
                - vị trí: top right bottom, left, pading, margin
                -.....
            II. JavaScript
            1. Khái niệm và cách sử dụng
            2. JavaScript basic:
                - biến
                - mảng
                - object
                - cấu trúc điều kiện, vòng lặp
                - hàm - function
            3. DOM: tương tác với các element
            4. Thư viện jquery

            => Xây dựng được 1 page: đầy đủ các chức năng trên client
                        (
                            Cache: local, cookies....
                            thứ viện lib: slick, cra,...
                        )
       </pre>    
                        
    </section>
    <footer>

    </footer>
</body>
</html>