<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS phase 1</title>
    <style>
        .header{
            background-color: aqua;
            height: 300px;
        }
        #section{
            background-color: yellow;
            height: 200px;
        }
    </style>
</head>
<body>
    <header class="header" id="header" data-dev="1">
        <h1 style="color: blue; font-size: 100px;">Bắt đầu với CSS</h1>
    </header>

    <section class="header" id="section">
        <pre>
            I, Độ ưu tiên trong CSS
            1, id
            2, attri
            3, class
            4, element
            *) Khi áp dụng đuôi !important => ưu tiên hơn các thành phần còn lại
        </pre>
    </section>

    <footer>

    </footer>
</body>
</html>