<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <pre>
        JS Basic
        I, Biến:
        II, Mảng: array
            định nghĩa: tập hợp các phần tử (bất kỳ) được ngăn cách nhau bởi dấu phẩy
            tính chất : đánh số thứ tự từ 0 cho đến độ dài trừ 1
                        tương tác với các phần tử qua số thứ tự
                            <!-- systax: <tên_mảng>[số_thứ_tự] -->
            áp dụng:
                for(let i =0; i< arr.lenght ; i++){
                    arr[i];
                }      
        III, Đối tượng : object 
            var obj ={
                thuộc tính 1: "",
                thuộc tính 2 : ""
            };
            ....
            object.thuộc_tính_thứ_n ="thêm thuộc tính n"
            * cách sử dụng:
            <!-- truy cập vào thuộc tính : <tên_object>.<tên_thuộc_tính> -->
        IV, Hàm function
            Khai niệm:
            Khai báo:
            Cách sử dụng: 
            <!-- <tên_hàm_đã được khai báo>(danh_sách_tham_số_đầu_vào_nếu_có) -->
                *Lưu ý:biến toàn cục và biến cục bộ
        V,Vòng lặp
        VI,Triển khai với DOM =>document
        VII, Jquery: Thư viện được xây dựng từ javascript
        VIII, Kinh nghiệm
        //đặt debbuger
        // ==> vào hàm đầu tiên => thực thi những gì , gọi hàm nào tiếp theo
        // ===> nắm được luồng hoạt động / thứ tự thực thi



        // Vận dụng vào xử lý tình huống
        // yêu cầu: nắm được cơ bản
        // BI: Xây dựng được thứ tự thực thi - xây dựng logic xử lý tình huống
        // ví dụ: tính 2 số a và b nhập vào từ 2 ô input
        //          b1: lấy giá trị 2 ô input =>> khai báo ra 2 biến, mỗi biến đón 1 giá trị của 1 ô input
        //          b2: khai báo biến thứ 3 đồng thời gán nó bằng
                    //giá trị 2 biến ở bước 1 (có convert về dạng số)
        //          b3: in ra màn hình
        // BII : Quy hoạch lại code => chia nhỏ thành các function
        // BIII : review & lược bỏ code k cần thiết
    </pre>  
</body>
</html>